canvas{
    border-radius: 5px;
}

body{
    background-color:hsl(240 80% 10%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.menu{
    display: block;
    position: absolute;
    left:850px;
    top:0px;
    width: 150px;
    height: 800px;
    background-color:black;
    border-radius: 5px;
    
}

.trainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 270px;
    height: 30px;
}
